[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=GnomeRSVP
Comment=Rapid Serial Visual Projector
Exec=gnomersvp
TryExec=gnomersvp
Icon=gnomersvp.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Application;Viewer
